### Ejercicios Python

### Ejercicio 1

- 1.	Crea un diccionario llamado datos_climaticos donde cada clave es el nombre de una ciudad y el valor es una lista de temperaturas (en grados Celsius) registradas a lo largo de una semana.

In [1]:
datos_climaticos = {'CDMX':[24,23,24,23,25],'Queretaro':[28,28,27,28,27],'Cancun':[31,32,30,31,32],'Guadalajara':[28,27,26,27,26]}

In [ ]:
# El problema se puede resolver con un ciclo for e iterando el diccionario con la funcion.items().
# Pero se opto por pasarlo a dataframe, obreniendo asi mejor manejo de los datos y codigo mas eficiente al evitar los ciclos for ya que 
# las funciones se pueden aplicar directamente al dataframe ###

In [2]:
import pandas as pd 
df_datos_climaticos = pd.DataFrame(datos_climaticos)

In [3]:
df_datos_climaticos.head()

   CDMX  Queretaro  Cancun  Guadalajara
0    24         28      31           28
1    23         28      32           27
2    24         27      30           26
3    23         28      31           27
4    25         27      32           26

2. Para cada ciudad, calcula la temperatura promedio, la temperatura máxima y la mínima de la semana.

In [11]:
# Temperatura promedio, maxima y minima para cdmx
mex_avg_temp = df_datos_climaticos['CDMX'].mean()
mex_max_temp = df_datos_climaticos['CDMX'].max()
mex_min_temp = df_datos_climaticos['CDMX'].min()

# Temperatura promedio, maxima y minima para Queretaro
qro_avg_temp = df_datos_climaticos['Queretaro'].mean()
qro_max_temp = df_datos_climaticos['Queretaro'].max()
qro_min_temp = df_datos_climaticos['Queretaro'].min()

#Temperatura promedio, maxima y minima para Cancun
cun_avg_temp = df_datos_climaticos['Cancun'].mean()
cun_max_temp = df_datos_climaticos['Cancun'].max()
cun_min_temp = df_datos_climaticos['Cancun'].min()

#Temperatura promedio, maxima, y minima para Guadalajara
gdl_avg_temp = df_datos_climaticos['Guadalajara'].mean()
gdl_max_temp = df_datos_climaticos['Guadalajara'].max()
gdl_min_temp = df_datos_climaticos['Guadalajara'].min()

In [13]:
print('------------- Reporte de Temperatura semanal de la CDMX ---------')
print('La temperatura promedio de CDMX fue',mex_avg_temp,'°C')
print('La maxima temperatura de CDMX fue',mex_max_temp,'°C')
print('La minima temperatura de CDMX fue',mex_min_temp,'°C')

------------- Reporte de Temperatura semanal de la CDMX ---------
La temperatura promedio de CDMX fue 23.8 °C
La maxima temperatura de CDMX fue 25 °C
La minima temperatura de CDMX fue 23 °C

In [14]:
print('------------- Reporte de Temperatura semanal Queretaro ---------')
print('La temperatura promedio de Queretaro fue',qro_avg_temp,'°C')
print('La maxima temperatura de Queretaro fue',qro_max_temp,'°C')
print('La minima temperatura de Queretaro fue',qro_min_temp,'°C')

------------- Reporte de Temperatura semanal Queretaro ---------
La temperatura promedio de Queretaro fue 27.6 °C
La maxima temperatura de Queretaro fue 28 °C
La minima temperatura de Queretaro fue 27 °C

In [15]:
print('------------- Reporte de Temperatura semanal de Cancun ---------')
print('La temperatura promedio de Cancun fue',cun_avg_temp,'°C')
print('La maxima temperatura de Cancun fue',cun_max_temp,'°C')
print('La minima temperatura de Cancun fue',cun_min_temp,'°C')

------------- Reporte de Temperatura semanal de Cancun ---------
La temperatura promedio de Cancun fue 31.2 °C
La maxima temperatura de Cancun fue 32 °C
La minima temperatura de Cancun fue 30 °C

In [16]:
print('------------- Reporte de Temperatura semanal de la Guadalajara ---------')
print('La temperatura promedio de Guadalajara fue',gdl_avg_temp,'°C')
print('La maxima temperatura de Guadalajara fue',gdl_max_temp,'°C')
print('La minima temperatura de Guadalajara fue',gdl_min_temp,'°C')

------------- Reporte de Temperatura semanal de la Guadalajara ---------
La temperatura promedio de Guadalajara fue 26.8 °C
La maxima temperatura de Guadalajara fue 28 °C
La minima temperatura de Guadalajara fue 26 °C

El ojetivo de pasar el diccionario a dataframe es que con una funcion podemos simplificar todo el trabajo ya realizado. 
- A continuacion se muestra la funcion demostrando que todos los resultados son los mismos.

In [25]:
df_datos_climaticos.describe()

           CDMX  Queretaro    Cancun  Guadalajara
count   5.00000   5.000000   5.00000      5.00000
mean   23.80000  27.600000  31.20000     26.80000
std     0.83666   0.547723   0.83666      0.83666
min    23.00000  27.000000  30.00000     26.00000
25%    23.00000  27.000000  31.00000     26.00000
50%    24.00000  28.000000  31.00000     27.00000
75%    24.00000  28.000000  32.00000     27.00000
max    25.00000  28.000000  32.00000     28.00000

3. Determina cuál fue la ciudad con la temperatura promedio más alta y la más baja durante la semana.

In [20]:
avg_temps = [mex_avg_temp,qro_avg_temp,cun_avg_temp,gdl_avg_temp]

In [26]:
# Se obtiene la mayor temperatura promedio.
max_avg_temp = max(avg_temps)
print('La maxima temperatura promedio fue de',max_avg_temp,'correspondiendo a Cancun')

La maxima temperatura promedio fue de 31.2 correspondiendo a Cancun

In [27]:
# Se obtiene la menor temperatura promedio. 
min_avg_temp = min(avg_temps)
print('La minima temperatura promedio fue de',min_avg_temp,'correspondiendo a CDMX')

La minima temperatura promedio fue de 23.8 correspondiendo a CDMX

In [28]:
### Se vuelve a invocar la Matriz para corroborar los resultados.
df_datos_climaticos.describe()

           CDMX  Queretaro    Cancun  Guadalajara
count   5.00000   5.000000   5.00000      5.00000
mean   23.80000  27.600000  31.20000     26.80000
std     0.83666   0.547723   0.83666      0.83666
min    23.00000  27.000000  30.00000     26.00000
25%    23.00000  27.000000  31.00000     26.00000
50%    24.00000  28.000000  31.00000     27.00000
75%    24.00000  28.000000  32.00000     27.00000
max    25.00000  28.000000  32.00000     28.00000

### Ejercicio 2

In [2]:
# Funcion para verificar que el string sea ingresado correctamente
def check_string ():
    while True:
        word = str(input('Ingresa una palabra solamente con minusculas: '))
        if word.islower() & word.isalpha():
            break
        else:
            print('Incluiste un numero o mayusculas, Intenta de nuevo')
    return word

In [3]:

#Funcion para realizar la suma
def total_palabra(word):

    total = 0
    word = list(word)
    letter_values = {'a':1,'b':2,'c':3,'d':4,'e':5,
                     'f':6,'g':7,'h':8,'i':9,'j':10,
                     'k':11,'l':12,'m':13,'n':14,'o':15,
                     'p':16,'q':17,'r':18,'s':19,
                     't':20,'u':21,'v':22,'w':23,
                     'x':24,'y':25,'z':26}
    for i in word:
        total = total + letter_values.get(i)
    
    return total

In [ ]:
"""PRUEBA DE LAS FUNCIONES"""

In [4]:
# Se tomara la palabra del ejemplo para verificar el  correcto funcionamiento
word = check_string()

In [13]:
# Imprimimos el valor de la variable para verificar que la funcion funciona y que el string cumple con las concidiones
print(word)

hola

In [16]:
# Por ultimo aplicamos la funcion que nos dara la suma
total_palabra(word)

36

In [5]:
#Comprobando asi que el resultado coincide con el del ejemplo propuesto. 
print('La suma de la palabra',word,'da un total de',total_palabra(word))

La suma de la palabra hola da un total de 36

### Ejercicio 3

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
vars = []
# fecha inicio
fecha_inicio = str(input("Escribe la fecha de inicio (YYYY/MM/DD): "))
fecha_inicio = pd.to_datetime(fecha_inicio,yearfirst=True)
vars.append(fecha_inicio)
# Fecha fin
fecha_final = str(input("Escribe la fecha final (YY/MM/DD): "))
fecha_final = pd.to_datetime(fecha_final,yearfirst=True)
vars.append(fecha_final)

# Var categoria
while True:
    categoria = str(input("Escribe la categoria: "))
    if categoria.isalpha():
        print("Categoria guardada correctamente")
        vars.append(categoria)
        break
    else:
        print("Ingresa solamente letras")

# Var uso
while True:
    uso = str(input("Escribe el uso: "))
    if uso.isalpha():
        print("Uso guardado correctamente")
        vars.append(uso)
        break
    else:
        print("Ingresa solamente letras")

# Var SKU
while True:
  sku = str(input("Ingresa el SKU: "))
  if not sku:
    print("SKU no puede estar vacio")
  else:
    print("SKU guardado correctamente")
    vars.append(sku)
    break

# Var percentage
while True:
  try:
    percentage =float(input("Ingresa el porcentaje: "))
    if isinstance(percentage,float):
      print("Porcentaje guardado correctamente")
      vars.append(percentage)
      break
  except ValueError:
    print("Ingresa solamente numeros decimales")

# inventario inicial
while True:
    try:
        inventario_inicial = int(input("Type the initial inventory: "))
        if isinstance(inventario_inicial,int):
            print("Inventario inicial guardado correctamente")
            vars.append(inventario_inicial)
            break
    except ValueError:
        print("Igresa solamente numeros enteros")


print(vars)

Categoria guardada correctamente
Uso guardado correctamente
SKU guardado correctamente
Porcentaje guardado correctamente
Inventario inicial guardado correctamente
[Timestamp('2022-04-28 00:00:00'), Timestamp('2024-04-28 00:00:00'), 'audio', 'audifonos', 'SKU-1', 5.2, 0]

In [2]:
df = pd.read_csv('C:\\Users\\PC\\Desktop\\prueba_tecnica\\Examen IBSO_1_24-4-2024\\Prueba_Promociones.csv')

In [19]:
df.head()

,SKU,Fecha,semana,Categoria,Piezas,Piezas Ajuste,Modelo,ABC,Uso,Precio
0,SKU-1,2024-01-01,1,AUDIO,0.0,0,Prophet,A,AUDIFONOS,2398.37
1,SKU-1,2024-01-08,2,AUDIO,0.0,0,Prophet,A,AUDIFONOS,2398.37
2,SKU-1,2024-01-15,3,AUDIO,0.0,0,Prophet,A,AUDIFONOS,2398.37
3,SKU-1,2024-01-22,4,AUDIO,0.0,0,Prophet,A,AUDIFONOS,2398.37
4,SKU-1,2024-01-29,5,AUDIO,0.0,0,Prophet,A,AUDIFONOS,2398.37

In [4]:
df['Fecha'] = pd.to_datetime(df['Fecha'],dayfirst=True,format='mixed')

In [8]:
df.insert(2,'semana',df['Fecha'].dt.isocalendar().week)

In [ ]:
if not fecha_final:
    first_filter = df[df['Fecha']>=fecha_final]
    second_filter = first_filter[first_filter['modelo']!='real']
    if uso:
        third_filter = second_filter[second_filter['uso']==uso]
        third_filter['piezas'] = third_filter['piezas'].apply(lambda x: x*percentage)
    if not uso:
        third_filter = second_filter[second_filter['Categoria']==categoria]
        third_filter['piezas'] = third_filter['piezas'].apply(lambda x: x*percentage)
    if not (uso & categoria):
        second_filter['piezas'] = second_filter['piezas'].apply(lambda x: x*percentage)
    

if not fecha_inicio:
    first_filter = df[df['Fecha']<=fecha_final]
    second_filter = first_filter[first_filter['modelo']!='real']
    if uso:
        third_filter = second_filter[second_filter['uso']==uso]
        third_filter['piezas'] = third_filter['piezas'].apply(lambda x: x*percentage)
    if not uso:
        third_filter = second_filter[second_filter['Categoria']==categoria]
        third_filter['piezas'] = third_filter['piezas'].apply(lambda x: x*percentage)
    if not (uso & categoria):
        second_filter['piezas'] = second_filter['piezas'].apply(lambda x: x*percentage)


if not (fecha_final & fecha_inicio):
    first_filter = df[df['modelo']!='real']
    if uso:
        second_filter = first_filter[first_filter['uso']==uso]
        second_filter['piezas'] = second_filter['piezas'].apply(lambda x: x*percentage)
    if not uso:
        second_filter = first_filter[first_filter['Categoria']==categoria]
        second_filter['piezas'] = second_filter['piezas'].apply(lambda x: x*percentage)
    if not (uso & categoria):
        first_filter['piezas'] = first_filter['piezas'].apply(lambda x: x*percentage)

### Ejercicio 4

In [2]:
import requests
import tkinter as tk
from tkinter import ttk, messagebox

# Reemplaza 'YOUR_API_KEY' con tu clave API del New York Times
API_KEY = 'TIJaD2GVypRoQMYCd2kkOHZL0ds8O0qx'
BASE_URL = 'https://api.nytimes.com/svc/books/v3/lists'

def fetch_books(list_name, date=None, price=None, age_group=None):
    url = f'{BASE_URL}/{list_name}.json'
    params = {'api-key': API_KEY}
    if date:
        url = f'{BASE_URL}/{list_name}/{date}.json'
    response = requests.get(url, params=params)
    if response.status_code != 200:
        messagebox.showerror("Error", "Error fetching data from API")
        return []
    data = response.json()
    results = []
    for book in data['results']['books']:
        if price and 'price' in book and not book['price'].startswith(price):
            continue
        if age_group and 'age_group' in book and book['age_group'] != age_group:
            continue
        results.append(book)
    return results

def display_books(books):
    if not books:
        messagebox.showinfo("No Results", "No books found matching the criteria")
        return
    for book in books:
        book_info = (
            f"Title: {book['title']}\n"
            f"Author: {book['author']}\n"
            f"Description: {book['description']}\n"
            f"Buy Link: {book.get('buy_links', [{}])[0].get('url', 'N/A')}\n"
            f"Review Link: {book.get('reviews', [{}])[0].get('url', 'N/A')}\n"
            f"Price: {book.get('price', 'N/A')}\n"
            f"Age Group: {book.get('age_group', 'N/A')}\n\n"
        )
        text_area.insert(tk.END, book_info)
    text_area.configure(state=tk.DISABLED)

def on_search():
    list_name = list_name_var.get()
    date = date_var.get() if date_var.get() else None
    price = price_var.get() if price_var.get() else None
    age_group = age_group_var.get() if age_group_var.get() else None
    books = fetch_books(list_name, date, price, age_group)
    display_books(books)

# Configuración de la interfaz gráfica
root = tk.Tk()
root.title("NYT Best Sellers")

frame = ttk.Frame(root, padding="10")
frame.grid(row=0, column=0, sticky=(tk.W, tk.E, tk.N, tk.S))

list_name_var = tk.StringVar()
date_var = tk.StringVar()
price_var = tk.StringVar()
age_group_var = tk.StringVar()

ttk.Label(frame, text="List Name:").grid(row=0, column=0, sticky=tk.W)
ttk.Entry(frame, textvariable=list_name_var).grid(row=0, column=1)

ttk.Label(frame, text="Date (YYYY-MM-DD):").grid(row=1, column=0, sticky=tk.W)
ttk.Entry(frame, textvariable=date_var).grid(row=1, column=1)

ttk.Label(frame, text="Price (e.g., $20):").grid(row=2, column=0, sticky=tk.W)
ttk.Entry(frame, textvariable=price_var).grid(row=2, column=1)

ttk.Label(frame, text="Age Group (e.g., 12-18):").grid(row=3, column=0, sticky=tk.W)
ttk.Entry(frame, textvariable=age_group_var).grid(row=3, column=1)

ttk.Button(frame, text="Search", command=on_search).grid(row=4, column=0, columnspan=2)

text_area = tk.Text(frame, wrap=tk.WORD, width=80, height=20, state=tk.NORMAL)
text_area.grid(row=5, column=0, columnspan=2)

root.mainloop()